<div class="columns has-background-light">
  <div class="column"></div>
  <div class="column is-three-quarters p-6 box container-margin">
    <%= link_to 'Back', categories_path, class: 'button mb-6' %>
    <div class="is-flex is-flex-direction-row is-justify-content-space-between">
      <h3 class="title is-3 mb-5">Tasks</h3>
      <%= link_to 'Create Task', new_category_task_path, class: 'button is-primary' %>
    </div>
    <div>
      <table class="table is-fullwidth">
        <thead>
          <tr>
            <th>Category</th>
            <th>Title</th>
            <th>Deadline</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% @task.each do |task| %>
            <tr>
              <td><%= task.category_id %></td>
              <td><%= task.title %></td>
              <td><%= task.deadline %></td>
              <td>
                <div class="buttons">
                  <%= link_to 'Show', category_task_path(task.category_id, task.id), class: 'button is-primary' %>
                  <%= link_to 'Edit', edit_category_task_path(task.category_id, task.id), class: 'button is-info' %>
                  <%= link_to 'Delete', category_task_path(task.category_id, task.id), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'button is-danger' %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="column"></div>
</div>
