<div class="columns has-background-light">
  <div class="column"></div>
  <div class="column is-one-third p-6 box container-margin">
    <h3 class="title is-3 mb-5">Login</h3>
    <% flash.each do |key, value| %>
      <div class="container mb-3">
        <div class="notification has-background-light">
          <ul>
            <li class="flash <%= key %>"><%= value %></li>
          </ul>
        </div>
      </div>
    <% end %>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {'data-turbo' => "false"}) do |f| %>
      <div class="field">
        <%= f.label :email, class: 'label' %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'input' %>
      </div>
      <div class="field mb-5">
        <%= f.label :password, class: 'label' %>
        <%= f.password_field :password, autocomplete: "current-password", class: 'input' %>
      </div>
      <div class="actions">
        <%= f.submit "Login", class: 'button is-primary mb-5 is-fullwidth' %>
      </div>
    <% end %>
    <div class="has-text-centered">
      <span>Don't have an account? </span><%= render "devise/shared/links" %>
    </div>
  </div>
  <div class="column"></div>
</div>
